body {
    background-color: #071952;
    text-align: center;
}

h1 {
    font-size: 5rem;
    margin: 5rem;
    color: white;
    
}

#green {
    background-color: green;
    width: 200px;
    height: 200px;
    margin: 1.5rem;
    border-width: 10px;
    border-color: pink;
    border-radius: 10%;
}

#red {
    background-color: red;
    width: 200px;
    height: 200px;
    margin: 1.5rem;
    border-width: 10px;
    border-color: pink;
    border-radius: 10%;
}

#yellow {
    background-color: yellow;
    width: 200px;
    height: 200px;
    margin: 1.5rem;
    border-width: 10px;
    border-color: pink;
    border-radius: 10%;
}

#blue {
    background-color: blue;
    width: 200px;
    height: 200px;
    margin: 1.5rem;
    border-width: 10px;
    border-color: pink;
    border-radius: 10%;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }

.game-over {
    background-color: red;
    opacity: 0.8;
  }